body, html {
    margin: 0px;
    padding: 0px;
}

img {
    width: 600px;
}

body {
    /* display: block; */
    text-align: center;
    /* position: fixed */
}

ul {
    display: flex;
    list-style: none;
    padding-left: 10px;
    /* padding-bottom: 10px; */
    /* background: blue; */
}

li {
    margin: 7px;
    width: 100px;
    height: 25px;
    text-align: center;
    /* background: pink; */
}

.clicked {
    background: orange;
    height: 25px;
    /* vertical-align: middle; */
    /* width: 70px; */
}